:root {
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-grayish-blue: hsl(229, 7%, 55%);
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-very-dark: hsl(229, 57%, 11%);
    --weight1: 400;
    --weight2: 700;
    --font-body: 14px;
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

@font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body {
    color: white;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-top: -200px;
    margin-left: -750px;
    width: 0px;
    height: 50px;
}

html {
    background: url("/images/bg-desktop.png") no-repeat bottom fixed;
    background-color: var(--neutral-very-dark);
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.box1 {
    box-shadow: black;
    background-color: var(--neutral-dark-blue);
    padding: 60px;
    border-radius: 15px;
    border-top-right-radius: 100px;
    width: 350px;
    font-size: 14px;
    margin-top: -50px;   
}

.logo {
    display: block;
    text-indent: -9999px;
    margin: 10px;
    width: 200px;
    height: 80px;
    background: url(/images/logo.svg) no-repeat;
    background-size: contain;
}

.buttons > img {
    padding: 10px;
    background: var(--neutral-very-dark) no-repeat center fixed;
    background-size: contain;
    height: 26px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.box {
    box-shadow: black;
    background-color: var(--neutral-dark-blue);
    padding: 40px;
    border-radius: 15px;
    width: 500px;
    font-size: 14px;
    margin-left: 50px;
    
}


.heading {
    grid-row: 1 / span 2;
    font-family: "Raleway";
    font-style: normal;
    font-display: white;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 300px;
    border: 3px;
    width: 1500px;
    
}

.attribution {
    bottom: 20px;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Raleway";
}

.loading-bar{
    display: flex;
    height: 15px;
    position: relative;
    background: var(--neutral-very-dark);
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 4px;
    box-shadow: inset o -1px 1px rgba(255, 255, 255, 0.3);
}

.bar {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: hsl(6, 100%, 80%);
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: relative;
    overflow: hidden;
    width: 81.5%;
}

.punto {
    height: 13px;
    width: 13px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    margin-left: -14px;
    margin-top: 1px;
    z-index: 1;
}

.points {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway";
    font-weight: var(--weight2);
}

.bubble {
    width: 150px;
    margin: 50px auto;
    background: #FFFF;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: "Raleway";
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    margin-left: 380px;
    margin-bottom: -50px;
}

.bubble > strong {
    font-size: 40px;
    padding-right: 10px;
    font-weight: var(--weight2);
}

.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -19px;
  }